body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    text-align: center;
    margin: 0;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;

    flex: 1;
}


 
.card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.2);
    width: 320px;
    transition: opacity 0.3s ease;
}
 
input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
}
 
button {
    background: #00c9ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
 
button:hover { background: #008eb5; }
 
.section {
    margin-top: 20px;
    padding: 10px;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
}
 
/* Switch Estilo */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.switch input { display: none; }
.slider {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
}
.slider:before {
    position: absolute; content: "";
    height: 14px; width: 14px;
    left: 3px; bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}
input:checked + .slider { background-color: #2196F3; }
input:checked + .slider:before { transform: translateX(20px); }

footer {
    background: rgba(247, 247, 247, 0.3);
    color: rgb(8, 8, 8);
    padding: 1rem;
    position: sticky;
    margin-top: 20px;
    padding: 15px;
}

body[style*="#111"] .footer {
    background: rgba(27, 26, 26, 0.1);
    color: #f2f0f5;
}

.banner {
  /* Imagen de fondo y altura */
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('mi-imagen.jpg');
  height: 20vh; /* % de la altura de la pantalla */
  background-size: cover;
  background-position: center;
  
  /* Centrado del contenido */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.banner-contenido h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
